body {
    margin: auto;
}

#logo {
    margin-left: 42%;
    width: 15%;
    height: 15%;
}

main {
    height: 35%;
}

#google {
    width: 60%;
    height: 60%;
}

.test{
    width: 400px;
    height: 400px;
}

#carrousel {
width: 8%;
height: 8%;
border:solid 4px #FFF;
box-shadow: 0 0 14px rgba(0,0,0,0,3);
position: relative;
}

.bouton {
    position: absolute;
    
}

.d {

}

.g {

}

