/* Mise en page globale de la page */
main    {
    font-family: "FjallaOne-Regular";
    margin-left: 5%;
    margin-top: 2%;
}

h1 { /*Position du titre*/ 
    margin: 0;
    margin-top: 2%;
    padding: 0;
}

hr  { /*Position de la barre en dessous du titre*/ 
    border-style: none;
    background-color: #025959;
    height: 2px;
    width: 92.5%;
    margin-left: 0%;
    margin-bottom: 3%;
    margin-top: 0;
}


/* mise en page de la première partie de la page : partie qui sommes-nous */
section {
    display: flex;
    flex-direction: row;
}

section > aside { /*Définition de la flex-box*/ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
}

section > aside > img { /*Taille de l'image*/ 
    width: 60%;
}

section > article { /*Définition de l'article qui sommes-nous (position, taille)*/ 
    position: relative;
    left: -12%;
    width: 40%;
    margin-top: 1%;
    font-size: x-large;
    z-index: -2;
}


/* mise en page de la deuxième partie de la page : la partie formulaire */
section > form ul  {
    display: flex;
    flex-direction: row;;
}

section ~ section {
    margin-left: 5%;
}

section > form > #message > input {
    display: flex;
}

section > form > div > input,
section > form > div > textarea,
section > form > input[type="submit"],
section > form > input[type="reset"]    { /*Mise en page des champs du formulaires*/ 
    margin: 5px;
    border: 2px solid #025959;
    font-size: larger;
}

section > form > input[type="submit"],
section > form > input[type="reset"]    {
    width: 17%;
}

section ul { /*liste d'offres d'emplois*/ 
    position: relative;
    font-size: larger;
    list-style: none;
    margin: 0%;
    margin-left: 10%;
}
section > ul > li > a { 
    text-decoration: none;
    color: #025959;
}
section > ul > li > a:hover {  /*Changement de couleurs lorsque la souris est dessus*/ 
    color: #05A6A6;
}
section > ul > li > a:active { /*Changement de couleurs lorsques le bouton est clique*/ 
    color: #89D9D9;
}
section > ul > li > a:visited { /*Couleurs normal une fois le lien clique*/ 
    color: #025959;
}
section > ul > hr { /*Définition de la ligne dans la section*/ 
    border-style: none;
    background-color: #025959;
    height: 2px;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 3%;
    margin-top: 0;
}
section h3 { /*Définition du titre de la liste d'offre d'emplois*/  
    margin: 0%;
}

@media screen and (max-width: 540px)
{

}

@media screen and (min-width: 200px) and (max-width: 280px) /*Adaptation petit ecran */ 
{
   
}

@media screen and (min-width: 360px) and (max-width: 600px) /*Adaptation écran de téléphone*/ 
{
    main    {
        font-family: "FjallaOne-Regular";
        margin-left: 5%;
        margin-top: 6%;
    }

    section > aside > img { /*Taille de l'image*/ 
        width: 88%;
    }

    section > form ul  {
        display: flex;
        flex-direction: column;
    }

    section>* { /*Définition du nombre de colonne, taille de la flex box*/
        flex: 1 1;
      }

      section > article { /*Définition de l'article qui sommes-nous (position, taille)*/ 
        position: relative;
        width: 100%;
        margin-top: 3%;
        font-size: x-large;
        z-index: -2;
    }
    
}


@media screen and (min-width: 730px) and (max-width: 950px) /*Adaptation tablette*/ 
{

}