
main    { /* Mise en page globale de la page */
    font-family: "FjallaOne-Regular";
    margin-left: 5%;
    margin-top: 2%;
}

h1 { /*Position du titre*/ 
    margin: 0;
    margin-top: 2%;
    padding: 0;
}

main > h2 {
    color:  #025959;
    text-decoration: underline;
}

hr  { /*Position de la barre en dessous du titre*/ 
    border-style: none;
    background-color: #025959;
    height: 2px;
    width: 92.5%;
    margin-left: 0%;
    margin-bottom: 1%;
    margin-top: 0;
}

#total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
}

#total2 {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 1%;
}

#total > p, #total2 > p {
    margin-left: 1%;
    width: 50%;
}

#total > img  {
    width:40%;
}

#total2 > img {
    width:40%;
    margin-left: 3%;
    margin-right: 7%;
}


#image2 {
    margin-top: 2%;
}

#total > h2, #total2 > h2 {
    margin-bottom: 1%;
}

#total > article {
    width: 50%;
    margin-top: 1%;
    margin-left: 3%;
    margin-bottom: 1%;
    font-size: 1rem;
}


#total2 > article {
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 1rem;
}

#solution {
    font-size: 2rem;
}

#total > article > h3 , p, #total2 > article > h3 , p {
    margin-top:3%;
    margin-bottom: 1%;
    color: #05A6A6;
    text-decoration: underline;
}

@media screen and (min-width: 390px) and (max-width: 729px) /*Adaptation écran de téléphone*/ 
{
    main    { /* Mise en page globale de la page */
        font-family: "FjallaOne-Regular";
        margin-left: 5%;
        margin-top: 6%;
    }

    #total {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }

    #total > img {
        width: 90%;
        margin-left: 1%;
    }

    #total > article {
        width: 90%;
        margin-left: 1%;
    }

    #total2 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 1%;
    }

    #total2 > img {
        width:90%;
        margin-left: 1%;
    }

    #total2 > article {
        width: 90%;
        margin-top: 1%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
}
