@font-face {
    font-family: "FjallaOne-Regular";
    src: local("FjallaOne Regular"),
    local("FjallaOne-Regular"),
    url(./../../Ressource/font/FjallaOne-Regular.ttf);
font-weight: bold;
   }

#Erreur {
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    margin-bottom: -2%;
    
}

main > a {
    font-family: "FjallaOne-Regular";
    position: relative;
    margin-left: 50%;
    color: #025959;

}

@media screen and (min-width: 200px) and (max-width: 280px) /*Adaptation petit ecran */ 
{
    #Erreur {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}

@media screen and (min-width: 360px) and (max-width: 600px) /*Adaptation écran de téléphone*/ 
{
    #Erreur {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}


@media screen and (min-width: 730px) and (max-width: 1100px) /*Adaptation tablette*/ 
{
    #Erreur {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }
}
