
hr  {
  width: 95%;
  margin-left: 0%;
  margin-bottom: 1%;
  background-color: #025959;
  height: 2px;
  border-style: none;
}

main  {
  font-family: "FjallaOne-Regular";
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

/* On mouse-over, add a deeper shadow */
#sect1 > #Hnews:hover ,
#sect1 > #Socmedia:hover,
#sect2 > .card:hover  {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  width: 90%;
  padding: 5px;
  margin-left: 5px;
}

/*Section numéro 1*/

#sect1 > #Hnews {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 61%;
  margin: 5px;
  height: 400px;
  overflow: hidden;
}

#sect1 > #Hnews > img   {
  width: 100%;
}


#sect1 > #Socmedia {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 6px;
}

#sect1 > #Socmedia > img {
  width: 15%;
  margin: 5%;
}

#sect1 > #Socmedia > h2   {
  margin-left: 2%;
}

/*Section numéro 2*/

#sect2 > .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 6px;
  }

  #sect2 > .card > img   {
    width: 100%;
  }

  main > #sect2 , main > #sect1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card,#Socmedia,#Hnews {
    border-bottom: 2px solid #025959;
    background-color: #f2f2f2;
  }

  @media screen and (min-width: 360px) and (max-width: 420px)
{
  #sect1 > #Socmedia {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 6px;
  }

  #sect1 > #Hnews {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 5px;
    height: 400px;
    overflow: hidden;
  }

  #sect2 > .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    margin: 6px;
  }
  
}

@media screen and (min-width: 730px) and (max-width: 950px)
{

  main  {
    font-family: "FjallaOne-Regular";
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
  }

  main > #sect1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 190%;
  }

  main > #sect2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 190%;
  }
  #sect1>* { /*Define number of columm*/
    flex: 1 1 160px;
  }
  #sect2>* {
    flex: 1 auto;
    }

  #sect1 > #Hnews {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 5px;
    height: 600px;
    overflow: hidden;
    font-size: x-large;
  }

  #sect1 > #Socmedia {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    margin: 6px;
    font-size: x-large;
  }
  #sect2 > .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 38%;
    margin: 6px;
  }
  
}