
hr  { /*Définition de la ligne sous le titre*/ 
  width: 95%;
  margin-left: 0%;
  margin-bottom: 1%;
  background-color: #025959;
  height: 2px;
  border-style: none;
}

main > section >hr {
  width: 8%;
  margin-left: 42%;
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #025959;
  height: 2px;
  border-style: none;
}

main  { /*Définition de la police et des marges dans le main*/
  font-family: "FjallaOne-Regular";
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

main > section > div > div > p > a { /*textes sur les cartes articles*/
  text-decoration: none;
  color:black;
  font-size: small;
}

main > section > div > div > h4 { /*titre des articles sur les cartes*/
  font-size: large;
  color: #025959;
}

/* Quand la souris passe dessus renforce les ombrages*/
#sect1 > #Hnews:hover ,
#sect1 > #Socmedia:hover,
#sect2 > .card:hover  {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* Add some padding inside the card container */
.container {
  width: 90%;
  padding: 5px;
  margin-left: 5px;
}

/*Section numéro 1*/

#sect1 > #Hnews {
  /* Ajout d'ombres sur la carte*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 61%;
  margin: 5px;
  height: 460px;
  text-overflow: ellipsis;
}

#sect1 > #Hnews > a > img  { /*Taille de l'image dans la première carte*/
  width: auto;
  height: 70%;
  overflow: hidden;
}


#sect1 > #Socmedia { /* Ajout d'ombres sur la carte*/
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  margin: 6px;
}

#sect1 > #Socmedia > img { /*Taille de l'image dans la deuxième carte*/
  width: 15%;
  margin: 5%;
}

#sect1 > #Socmedia > h2   { /*Marge du titre de l'article*/
  margin-left: 2%;
  color: #025959;
}

/*Section numéro 2*/

#sect2 > .card {
    /* Ajout d'ombres sur les cartes*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    margin: 6px;
    overflow: hidden;
  }

  #sect2 > .card > a > img  { /*Taille de l'images sur les cartes*/
    width: 100%;
    height: 60%;
    overflow: hidden;
  }

  main > #sect2 , main > #sect1 { /*Définition de la flex-box pour les sections*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card,#Socmedia,#Hnews { /*Definition de la bordure du bas de toutes les cartes*/
    border-bottom: 2px solid #025959;
    background-color: #f2f2f2;
  }

  @media screen and (min-width: 360px) and (max-width: 729px) /*Adaptation pour écran de téléphone*/
{
  main {
    margin-left: 3%;
  }

  #newsletter {
    margin-top: 6%;
  }
  #sect1 > #Socmedia {
    /* Ajout d'ombres sur la carte*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 6px;
    margin-left: 3%;
  }

  #sect1 > #Hnews {
    /* Ajout d'ombres sur la carte*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 5px;
    height: 400px;
    overflow: hidden;
    margin-left: 3%;
  }

  #sect2 > .card {
    /* Ajout d'ombres sur la carte*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 6px;
    margin-left: 3%;
  }
  
}

@media screen and (min-width: 730px) and (max-width: 1100px) /*Adaptation tablette*/ 
{
  #sect2 { /* Deuxième partie de la page d'accueil qui concerne les cartes de navigations du site web */
    margin: 0%;
    margin-top: 5%;
  }
}

