footer   { /*Définition du footer (flex-box, couleur et police)*/ 
    display: flex;
    flex-direction: row;
    background-color: #003a3a;
    font-family: "FjallaOne-Regular";
    width: 100%;
    margin-top: 5%;
}
footer>* { /*Define number of columm*/
    flex: 1 1 160px;
  }

footer > nav { /*Position dans le footer des différentes parties*/ 
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

footer > nav > a    { /*Définition des caractères dans le footer*/ 
    color: white;
    font-size: x-large;
    text-decoration: none;
}
footer > nav > a:hover, footer > div > a:hover    { /*Changement de couleur lors du passage de la souris*/ 
    color: #05A6A6;
}

footer > div > a:active, footer > div > a:active    { /*Changement de couleur lors du clic*/ 
    color: #89D9D9;
}

footer > nav > h1    { /*Définition des titres des catégories*/ 
    color: white;
    font-size: x-large;
    text-decoration: none;
}

footer > nav > iframe { /*Taille de la mini-map*/ 
    width: 130%;
    height: 88%;
}

footer >nav > a > img { /*Mise een place de l'image linkedin*/ 
    width: 20%;
    float: left;
}

footer >nav > a > p { /*Mise een place de l'image linkedin*/ 
    width: 80%;
    float: left;
    margin-top: 1.5%;
}

footer > nav >hr  { /*Définition du soulignage des titres des catégories*/ 
    width: 55%;
    margin-left: -1%;
    margin-top: 0%;
    margin-bottom: 5%;
    background-color: #F2F2F2;
    height: 2px;
    border-style: none;
  }

@media screen and (min-width: 360px) and (max-width: 600px) /*Adaptation pour écran de téléphone*/ 
{
    footer   {
        display: flex;
        flex-direction: row;
        background-color: #003a3a;
        font-family: "FjallaOne-Regular";
        width: 100%;
    }

    footer > nav {
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 50%;
    }

    footer > nav > iframe { /*Taille de la mini-map*/ 
        width: 120%;
        height: 88%;
        margin-left: -20%;
    }

    #texte_map {
        color: white;
        font-size: smaller;
        text-decoration: none;
        margin-left: -20%;
    }
    
    footer > nav > a    {
        color: white;
        font-size: smaller;
        text-decoration: none;
    }

    footer > nav > a > p {
        width: 45%;
    }

    footer > nav > h1 {
        font-size: large;
    }
}

@media screen and (min-width: 730px) and (max-width: 1100px) /*Adaptation pour écran de tablette*/ 
{
    footer > nav > a    {
        color: white;
        font-size: medium;
        text-decoration: none;
    }

    footer > nav > h1 {
        font-size: large;
    }
    footer > nav > iframe { /*Taille de la mini-map*/ 
        width: 160%;
        height: 88%;
        margin-left: -20%;
    }

    #texte_map {
        color: white;
        font-size: medium;
        text-decoration: none;
        margin-left: -20%;
    }
}

@media screen and (min-width: 200px) and (max-width: 280px) /*Adaptation pour petit téléphone (galaxy fold)*/ 
{
    footer   {
        display: flex;
        flex-direction: row;
        background-color: #003a3a;
        font-family: "FjallaOne-Regular";
        width: 109%;
    }

    footer > nav {
        display: flex;
        flex-direction: column;
        margin: 0%;
        padding-left: 5%;
        padding-right: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
        width: 80%;
    }
    
    footer > nav > a    {
        color: white;
        font-size: smaller;
        text-decoration: none;
    }
    footer > nav > iframe { /*Taille de la mini-map*/ 
        width: 100%;
        height: 88%;
    }
}