#phooter   {
    display: flex;
    flex-direction: row;
    color: #F2F2F2;
    background-color: #202020;
    font-family: "FjallaOne-Regular";
    font-size: x-large;
}

#phooter nav {
    background-color: #202020;
    font-size: small;
}

footer > nav > div > a {
    color: white;
    text-decoration: none;
>>>>>>> 94372812238fc18599d9b30ef6e5fb0a31b02342
}

#phooter > nav > div > a:hover    {
    color: #05A6A6;
}

#phooter > nav > div > a:active    {
    color: #89D9D9;
}

footer>div,footer>nav {
    margin: 5%;
>>>>>>> 94372812238fc18599d9b30ef6e5fb0a31b02342
}

<<<<<<< HEAD
#phooter > div > iframe {
    width: 25%;
    height: 25%;
=======
.map {
    width: 75%;
    height: 75%;
>>>>>>> ea4649c (Header css resolve)
}