label, #toggle
{
    display: none;
}
 
@media screen and (max-width: 991px)
{
    .logo img{
        width: 26%;
        height: 10%;
        float: left;
        margin-left: 2%;
        margin-top: 1%;
        z-index: 10;
    }

    nav
    {
        height: 60px;
        float: right;
        margin-right: -9%;
        z-index: 100000000000;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background:  #F2F2F2;
        height: 50%;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10% auto;
        margin-right: 10%;
        font-size: 300%;
        color: #025959;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
  
    /* Position du texte contenu dans la puce */
  nav ul li{
    float: right;
    width: 193%;
    text-align: right;
    position: relative;
  }

    /*rend solide le sous menu */
nav > ul li:focus .sous{
    display: block;
}
}